<!DOCTYPE html>
<html>
	<head>
	  <title>Omrails</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>
	<body>

		<%= link_to "Home", root_path %>
		<%= link_to "About", about_path %>
		<%= link_to "Contact", contact_path %>

		<%= yield %>

		<div class="footer">
			<br></br>
			<small>
				Thanks for visiting my site
			</small>

		</div>
	</body>
</html>
